<!--The content below is only a placeholder and can be replaced.-->
<div class="item-model">
  <div class="item-left">
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
  </div>
  <div class="item-right">
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
  </div>
  <div class="item-bottom">
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
    <app-ww-component class="item-slot"></app-ww-component>
  </div>
</div>

